# ===== Environment =====
.env
.env.*
.env.local
.venv/

# ===== Python cache =====
__pycache__/
*.py[cod]
*$py.class

# ===== Logs =====
*.log

# ===== Databases =====
*.db

# ===== OS / IDE =====
.DS_Store
.idea/
.vscode/
